<div class="PopupPanel effect1">
    <div class="textHeader">
        <h1>What have we done?</h1>
    </div>
    <div class="clientList">
        <div class="PopupPanel effect1">
            <h1>JackFrags.com</h1>
            <img src="/images/jackfrags-site.jpg">
            <a href="http://www.jackfrags.com"><p class="divText">jackfrags.com</p></a><br>
        </div>
        <div class="PopupPanel effect1">
            <h1>XFactorFPS.com</h1>
            <img src="/images/xfactor-site.jpg">
            <a href="http://www.xfactorfps.com"><p class="divText">xfactorfps.com</p></a><br>
        </div>
    </div>
</div>