<div class="PopupPanel effect1">
    <div class="textHeader">
        <h1>Who are we?</h1>
    </div>
    <p class="videoDesc">
        A bunch of marketing text will go here but for now, We're gonna latin it up!<br />
        Lorem ipsum dolor sit amet, sea atomorum accusamus eu, ea suas sint suscipiantur est. Qui probo decore recteque eu. Vis an amet democritum adipiscing, an accusata salutatus usu, ad his accusata atomorum perpetua. Mea oporteat salutatus eu. Petentium interesset eam id, duo tollit accommodare at. Ad saepe nonumy aperiam mel, ut has unum voluptua, ex utamur voluptua mel.<br />
        <br />
        Veniam singulis partiendo ea quo, te eos saperet mediocrem. Iriure vulputate cum ea, et esse nusquam cum, mei dicit quidam inciderint ex. Noster perfecto salutatus no est, at tantas vivendo deseruisse has. Mel errem meliore eu. Utinam mediocritatem per ei, cum ignota molestie gloriatur ne, solum impetus platonem te vim.<br />
        <br />
        Minim oblique an duo. Nullam salutatus principes pro te. Nam ei dico salutatus, mei duis verterem te. Has lorem augue id, pro nonumy concludaturque ei.<br />
        <br />
        Dico habeo sit ad, brute eligendi placerat vis ex. Nam augue decore ne, his indoctum evertitur te, duo viderer percipit oporteat ei. Te ubique invidunt petentium duo, eu tantas iuvaret est. Ex mel amet aperiri, aeterno comprehensam mea ei, ius mentitum praesent ex. Hinc homero ancillae te vim, alia elit te qui, nec ei legere legimus disputationi.<br />
        <br />
        Pro ei etiam velit feugait, invidunt principes incorrupte te nec. Dicam quodsi philosophia ei sea, vix ei possit offendit. In eam platonem euripidis, sea illud assentior et, et mei ullum paulo salutatus. Vim ea duis inani noluisse, no pri accommodare reprehendunt. Modo iracundia nec eu, magna appareat honestatis ne est, duo aeterno percipit eu. Mea electram adolescens id, ad est alii quaestio. No est altera ornatus atomorum, eos amet quaeque ei, agam quaerendum at has.
    </p>
</div>