<div class="PopupPanel effect1">
    <div class="textHeader">
        <h1>Who are we?</h1>
    </div>
    <p class="videoDesc">
        A bunch of marketing text will go here but for now, We're gonna latin it up!<br />
        Lorem ipsum dolor sit amet, sea atomorum accusamus eu, ea suas sint suscipiantur est. Qui probo decore recteque eu. Vis an amet democritum adipiscing, an accusata salutatus usu, ad his accusata atomorum perpetua. Mea oporteat salutatus eu. Petentium interesset eam id, duo tollit accommodare at. Ad saepe nonumy aperiam mel, ut has unum voluptua, ex utamur voluptua mel.<br />
        <br />
        Veniam singulis partiendo ea quo, te eos saperet mediocrem. Iriure vulputate cum ea, et esse nusquam cum, mei dicit quidam inciderint ex. Noster perfecto salutatus no est, at tantas vivendo deseruisse has. Mel errem meliore eu. Utinam mediocritatem per ei, cum ignota molestie gloriatur ne, solum impetus platonem te vim.<br />
        <br />
        Minim oblique an duo. Nullam salutatus principes pro te. Nam ei dico salutatus, mei duis verterem te. Has lorem augue id, pro nonumy concludaturque ei.<br />
        <br />
        Dico habeo sit ad, brute eligendi placerat vis ex. Nam augue decore ne, his indoctum evertitur te, duo viderer percipit oporteat ei. Te ubique invidunt petentium duo, eu tantas iuvaret est. Ex mel amet aperiri, aeterno comprehensam mea ei, ius mentitum praesent ex. Hinc homero ancillae te vim, alia elit te qui, nec ei legere legimus disputationi.<br />
        <br />
        Pro ei etiam velit feugait, invidunt principes incorrupte te nec. Dicam quodsi philosophia ei sea, vix ei possit offendit. In eam platonem euripidis, sea illud assentior et, et mei ullum paulo salutatus. Vim ea duis inani noluisse, no pri accommodare reprehendunt. Modo iracundia nec eu, magna appareat honestatis ne est, duo aeterno percipit eu. Mea electram adolescens id, ad est alii quaestio. No est altera ornatus atomorum, eos amet quaeque ei, agam quaerendum at has.
    </p>
</div>

<div class="PopupPanel effect1">
    <div class="textHeader">
        <h1>Features</h1>
    </div>
    <div class="featureList">
        <h1>Customized Site</h1>
        <p>We are offering a completely customized site to your brand that will incorporate your community, twitch and youtube.</p>
        <h1>Twitch Integration</h1>
        <p>When you go live a box will appear below the navigation of your site showing your stream in real time.</p>
        <h1>YouTube Integration</h1>
        <p>Don't want the hassle of writing content for your site every day? Let youtube do it. We will pull in your video feed and use that to generate content!</p>
        <h1>Ad Revenue</h1>
        <p>You can select and inject ads directly onto your site to moneizte your visitors.</p>
        <h1>Dev Twitter Tracker</h1>
        <p>Want your community to stay up to date on what the devs are saying about your favorite games? We have a tracker for that, Select the twitter accounts you want to follow and it will compile a list of them together in one solid flow.</p>
        <h1>Custom Content Injection</h1>
        <p>Have a blurb or just want to say Hi? With our content injection plugin you can inject custom content in between your youtube videos so that your site will still have that exclusive content and personal touch.</p>
        <h1>Team Roster with Twitch Integration</h1>
        <p>Have a team? You can create a profile for each team member and offer twitch integration for when they are streaming!</p>
        <h1>Team Schedule</h1>
        <p>Keep your community informed about your schedule with our team calendar feature!</p>
        <h1>Free Hosting</h1>
        <p>All of our accounts are offered free hosting!</p>
        <h1>Support</h1>
        <p>Always there, 24/7 Support! We're there when you need us.</p>
    </div>
</div>

<div class="PopupPanel effect1">
    <div class="textHeader">
        <h1>Pricing</h1>
    </div>
    <section class="layer plans">
        <section>
            <section class="third lift plan-tier" onclick="location.href='#';">
                <h4>Noob</h4>
                <h5><sup class="superscript">$</sup><span class="plan-price">299</span></h5>

                <del>$599</del>
                <ul>
                    <li><strong>Customized Site</strong></li>
                    <li><strong>Twitch Integration</strong></li>
                    <li><strong>YouTube Integration</strong></li>
                    <li><strong>Free Hosting!</strong></li>
                </ul>
            </section>

            <section class="third lift plan-tier callout" onclick="location.href='#';">
                <h6>Most popular</h6>
                <h4>Star</h4>
                <h5><sup class="superscript">$</sup><span class="plan-price">499</span></h5>

                <del>$899</del>
                <ul>
                    <li><strong>Everything from Noob and...</strong></li>
                    <li><strong>Dev Twitter Tracker</strong></li>
                    <li><strong>Custom Content</strong> (Inject your own content from admin panel)</li>
                    <li><strong>Free Hosting!</strong></li>
                </ul>
            </section>

            <section class="third lift plan-tier" onclick="location.href='#';">
                <h4>Team</h4>
                <h5><sup class="superscript">$</sup><span class="plan-price">799</span></h5>

                <del>$1499</del>
                <ul>
                    <li><strong>Everything from Star and...</strong></li>
                    <li><strong>Team Roster w/ Twitch</strong></li>
                    <li><strong>Team Schedule</strong></li>
                    <li><strong>Free Hosting!</strong></li>
                </ul>
            </section>
            <div style="clear: both"></div>
        </section>
    </section>
</div>

<div class="PopupPanel effect1">
    <div class="textHeader">
        <h1>What are others saying about us?</h1>
    </div>
    <div style="width: 50%; margin-left: auto; margin-right: auto;">
        <br />
        <blockquote class="testimonial">
            <p>The site is going awesomely and all is great, The ad revenue and community participation has been fantastic!</p>
        </blockquote>
        <div class="arrow-down"></div>
        <p class="testimonial-author">Brandon | <span>rivalXFactor</span></p>
        <br />
        <blockquote class="testimonial">
            <p>You want sum m8?</p>
        </blockquote>
        <div class="arrow-down"></div>
        <p class="testimonial-author">Jack | <span>JackFrags</span></p>
    </div>
</div>